<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/80694933-35b7-44a4-a3fc-9ab4103b2abd/resourcegroups/GrupoWebBackend20220518132947ResourceGroup/providers/Microsoft.Web/sites/AdoptmeYa</ResourceId>
    <ResourceGroup>GrupoWebBackend20220518132947ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/80694933-35b7-44a4-a3fc-9ab4103b2abd/resourceGroups/GrupoWebBackend20220518132947ResourceGroup/providers/Microsoft.ApiManagement/service/AdoptmeYaapi/apis/AdoptmeYaAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://adoptmeya.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>8a8619fc-16a2-4640-86fa-fbd0c2319d84</ProjectGuid>
    <MSDeployServiceURL>adoptmeya.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AdoptmeYa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$AdoptmeYa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>